﻿
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Error</title>
</head>
<body>
    <h2 class="text-danger display-3">Error! :o</h2>
    <h3>Please return to safety!</h3>
    <a asp-controller="Topics" asp-action="Index" class="btn btn-success btn-lg" role="button">Browse</a>
</body>
</html>

