﻿* {
    color: white !important;
}

.card-text, .card > div > h4, .card-header > h5 {
    color: black !important;
}

body {
    background-color: black !important;
}

.material-icons {
    color: white !important;
}
.navbar-brand > span {
    color: black !important;
}
.nav-item.dropdown, .nav-link.dropdown-toggle, .dropdown-item {
    color: black !important;
}

.btn-primary {
    background-color: orangered !important;
    border-color: orange !important;
}
