﻿
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.app-sidebar-collapse {
    display: none;
}

/* Background pattern from Toptal Subtle Patterns */
#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background-image: url("../images/sidebar.png");
    background-repeat: repeat;
    color: #fff;
    transition: all 0.3s;
    margin-left: -300px;
}

#sidebarCollapse {
    background-color: white !important;
    color: #007bff !important;
}

.sidebar-nav-icon {
    color: white !important;
    width: 1em !important;
    z-index: 9001;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #007bff;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

#content {
    transition: all 0.3s;
}


@media (max-width: 1200px) {
    #sidebar {
        margin-left: -300px;
    }

    .app-sidebar-collapse {
        display: inherit;
    }

    #sidebar.active {
        margin-left: 0;
    }
}