﻿@keyframes neon2 {
  from {
    box-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 4px #8949ff, 0 0 5px #8949ff, 0 0 5px #8949ff, 0 0 5px #8949ff, 0 0 5px #8949ff;
  }
  to {
    box-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 4px #228DFF, 0 0 5px #228DFF, 0 0 5px #228DFF, 0 0 5px #228DFF, 0 0 5px #228DFF;
  }
}

@-webkit-keyframes neon2 {
  from {
    box-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 4px #8949ff, 0 0 5px #8949ff, 0 0 5px #8949ff, 0 0 5px #8949ff, 0 0 5px #8949ff;
  }
  to {
    box-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 4px #228DFF, 0 0 5px #228DFF, 0 0 5px #228DFF, 0 0 5px #228DFF, 0 0 5px #228DFF;
  }
}

@keyframes neon1 {
    from {
        box-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 4px #7aa4ff, 0 0 5px #7aa4ff, 0 0 5px #7aa4ff, 0 0 5px #7aa4ff, 0 0 5px #7aa4ff;
    }

    to {
        box-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 4px #228DFF, 0 0 5px #228DFF, 0 0 5px #228DFF, 0 0 5px #228DFF, 0 0 5px #228DFF;
    }
}

@-webkit-keyframes neon1 {
    from {
        box-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 4px #7aa4ff, 0 0 5px #7aa4ff, 0 0 5px #7aa4ff, 0 0 5px #7aa4ff, 0 0 5px #7aa4ff;
    }

    to {
        box-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 4px #228DFF, 0 0 5px #228DFF, 0 0 5px #228DFF, 0 0 5px #228DFF, 0 0 5px #228DFF;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: 0;
    }
}

body {
    padding-top: 100px;
    background: #fafafa;
    font-size: calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.color-input {
    height: 2.33em !important;
}

[admin-actions] button, [admin-actions] a {
    color: white;
}

[admin-status] {
    margin: auto;
}

.admin-content-list-group {
    max-height: 400px;
    overflow: auto;
}

.admin-content-title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.alert {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app-nav-icon {
    width: 1em !important;
}

.app-title {
    min-height: 3rem;
    display: flex;
    align-items: center;
    align-self: center;
    -webkit-animation: neon1 3s ease-in-out infinite alternate;
    -moz-animation: neon1 3s ease-in-out infinite alternate;
    animation: neon1 3s ease-in-out infinite alternate;
    transition: all 0.3s;
}

.app-title > a {
    display: flex;
    align-items: center;
}

.purple-glow {
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
}

.app-logout-button {
    background-color: white !important;
    color: #007bff !important;

}


.app-title:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 100%;
    bottom: 0;
    width: 100%;
    height: 50px;
    left: -10%;
    right: -10%;
    background: -webkit-radial-gradient(50% -3%, ellipse cover, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 40%);
    background: radial-gradient(ellipse at 50% -3%, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 40%);
}

.app-title > a > i, .app-title > a > span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app-title > a {
    margin-right: 0;
}

.blue-text {
    color: #007bff !important;
}

.card-content-shaded {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1em;
}

.card-img-overlay {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.card-text {
    font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

[curtain] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: none;
    overflow-x: hidden;

}

[curtain].visible {
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    z-index: 998;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

[curtain].hidden {
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    z-index: 998;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    pointer-events: none;
}

[collection-favorite-remove] {
    color: firebrick !important;
}

.delete-content {
    background-color: #B71C1C;
}

.edit-content {
    background-color: #00838F;
}

[favorited] {
    color: goldenrod !important;
}

.favorite-action-toolbar {
    position: absolute;
    top: .5em;
    right: .5em;
    z-index: 1020;
}

.favorite-add-icon {
    color: forestgreen !important;
    background-color: rgba(0,0,0,.03);
}

.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.filter-section-header, .filter-section-header:hover {
    text-decoration: none !important;
}

.filter-section-header:hover > .card-header {
    transition: background-color 1s ease;
    background-color: white;
}

.flex-parent-horizontal-center {
    display: flex;
    justify-content: center;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}
 
i.jumbo-icon {
    font-size: 3.5rem !important;
    box-sizing: border-box;
    padding-top: .2em;
}

div.jumbo-icon-container {
    display: flex;
    align-items: center;
    color: #007bff;
    user-select: none;
}

div.jumbo-icon-container span {
    font-size: calc(36px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.language-action-toolbar {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1020;
}

.language-icon {
    height: 200px;
    max-height: 200px;
    min-height: 200px;
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    border-radius: 20px;
}

.language-edit-icon {
    color: white !important;
    background-color: #FFD54F;
}

.large-icon {
    font-size: 2.5em !important;
}

.navbar {
    background-color: white !important;
    z-index: 1040 !important;
}

nav.navbar {
    display: flex;
    justify-content: space-between;
    transition: all 0.3s;
}

.nav-bar-icons {
    display: flex;
    justify-content: space-around;
}

.nav-icon {
    font-size: 33px !important;
}

.no-padding {
    padding: 0;
}

#sidebarCollapse {
    align-self: flex-start;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.yellow-400 {
    color: #FFEE58 !important;
}

@media (max-width: 1200px) {
    .app-logout-section {
        float: none;
    }

    .app-title {
        margin: auto;
    }

    #categories {
        display: none;
    }

    [curtain] {
        display: inherit;
    }
}

