﻿@model CardListViewModel<Card>

@if (Model.Data.Count() > 0)
{
    @foreach (var Card in Model.Data)
    {
        @(await Component.InvokeAsync("Card", Card));
    }
}
else
{
    <div class="alert alert-secondary" role="alert">
        @($"No favorites were found.")
    </div>
}

<div page-model="@Model.PagingInfo" page-action="@Model.FilterType" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary" page-class-selected="btn-primary"
     page-url-filter="@Model.FilterValue" class="btn-group pull-right m-1">
</div>

<!-- ADD TO COLLECTION MODAL -->
<div class="modal fade" id="addToCollectionModal" tabindex="-1" role="dialog" aria-labelledby="addToCollectioneModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addToCollectioneModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please Choose A Collection To Add This Favorite Too
                <div class="collection-select"></div>
            </div>
            <div class="modal-footer">
                <button id="cancel-add-to-collection" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="submit-add-to-collection" type="button" class="btn btn-primary">Add To Collection</button>
            </div>
        </div>
    </div>
</div>