﻿@model  Synomy.Models.Application.FavoriteCollection

<form asp-action="Create" asp-controller="FavoriteCollection" method="post">
    <input type="hidden" name="user" value="@User.Claims.FirstOrDefault(claim => claim.Type == "sub").Value" />
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input class="form-control" asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input class="form-control" asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Add Collection</button>
    </div>
</form>