﻿@model FavoriteCollectionViewModel

<p class="display-3">@Model.FavoriteCollection.Title</p>
<p class="lead">@Model.FavoriteCollection.Description</p>

@if (Model.CardList.Data.Count() > 0)
{
    @foreach (var Card in Model.CardList.Data)
    {
        @(await Component.InvokeAsync("Card", Card));
    }
}
else
{
    <div class="alert alert-secondary" role="alert">
        @($"There aren't any favorites in this collection.")
    </div>
}

<div page-model="@Model.CardList.PagingInfo" page-action="@Model.CardList.FilterType" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary" page-class-selected="btn-primary"
     page-url-filter="@Model.CardList.FilterValue" class="btn-group pull-right m-1">
</div>