﻿@model Synomy.Models.Api.FavoriteCollection

<form asp-action="Update" asp-controller="FavoriteCollection" method="post">
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input class="form-control" asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input class="form-control" asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save Collection</button>
    </div>
</form>
