﻿@model IEnumerable<AppUser>

<div class="bg-primary m-1 p-1 text-white"><h4>User Accounts</h4></div>

<div class="text-danger" asp-validation-summary="ModelOnly"></div>

<table class="table table-sm table-bordered">
    <tr><th>ID</th><th>Name</th><th>Email</th><th>Actions</th></tr>
    @if (Model.Count() == 0)
    {
        <tr><td colspan="3" class="text-center">No User Accounts</td></tr>
    }
    else
    {
        foreach (AppUser user in Model)
        {
            <tr>
                <td>@user.Id</td><td>@user.UserName</td><td>@user.Email</td>
                 <td>
                     <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                         <a class="btn btn-sm btn-primary" asp-action="Edit"
                         asp-route-id="@user.Id">Edit</a>
                         <button type="submit"
                         class="btn btn-sm btn-danger">Delete</button>
                     </form>
                 </td>
            </tr>
        }
    }
</table>

<a class="btn btn-primary" asp-action="Create">Create</a>