﻿@{
    Layout = "_AdminLayout";
}

<div class="card bg-dark text-white">
    <img class="card-img" src="~/images/laptop.jpeg" alt="Snippets">
    <div class="card-img-overlay">
        <div class="card-content-shaded">
            <h5 class="card-title">Snippets</h5>
            <p class="card-text">These should generally be just enough code to demonstrate how the topic is implemented in a certain language. Snippets should be made as simple as possible, but no simpler!</p>
        </div>
    </div>
</div>

<div class="card bg-dark text-white">
    <img class="card-img" src="~/images/code-002.jpeg" alt="Languages">
    <div class="card-img-overlay">
        <div class="card-content-shaded">
            <h5 class="card-title">Languages</h5>
            <p class="card-text">These can be programming languages, scripting languages, or whatever you believe belongs here.</p>
        </div>
    </div>
</div>

<div class="card bg-dark text-white">
    <img class="card-img" src="~/images/security.jpeg" alt="Topics">
    <div class="card-img-overlay">
        <div class="card-content-shaded">
            <h5 class="card-title">Topics</h5>
            <p class="card-text">These can really be anything that is representable by a snippet of text. Have at it.</p>
        </div>
    </div>
</div>

