﻿@model AdminLanguageForm

@{
    Layout = "_AdminLayout";
}

<form asp-action="@(Model.Method == "POST" ? "Create" : "Update")" asp-controller="Admin" asp-route-type="Language" method="post">
    @if (Model.Method == "PUT")
    {
        <input type="hidden" asp-for="Language.LanguageId" />
    }

    @if (Model.Method == "POST")
    {
        <input type="hidden" asp-for="Language.UserId" value="@User.Claims.FirstOrDefault(claim => claim.Type == "sub").Value" />
    }
    else
    {
        <input type="hidden" asp-for="Language.UserId" />
    }

    <div class="form-group">
        <label class="lead" asp-for="Language.Name">Name</label>
        <input class="form-control" asp-for="Language.Name" />
        <span asp-validation-for="Language.Name"></span>
    </div>
    <div class="form-group">
        <label class="lead" asp-for="Language.Description">Description</label>
        <textarea rows="10" class="form-control" asp-for="Language.Description"></textarea>
        <span asp-validation-for="Language.Description"></span>
    </div>
    <div class="form-group">
        <label class="lead" asp-for="Language.Color" type="color">Color</label>
        @if (Model.Method == "PUT")
        {
            <input color-input class="form-control" asp-for="Language.Color"
                   value="@(Model.Language.Color)" />
            <span asp-validation-for="Language.Color"></span>
        }
        else
        {
            <input color-input class="form-control" asp-for="Language.Color" />
            <span asp-validation-for="Language.Color"></span>

        }
    </div>
    <div class="form-group">
        <label class="lead bold" asp-for="Language.Icon" type="url">Icon URL</label>
        <input url-input class="form-control" asp-for="Language.Icon" />
        <span asp-validation-for="Language.Icon"></span>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">@(Model.Method == "POST" ? "Add Language" : "Update Language")</button>
    </div>
</form>
