﻿@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model AdminLanguageTopicForm

@{
    Layout = "_AdminLayout";
}

@{
    var requestHash = HttpContextAccessor.HttpContext.GetHashCode();
    var languages = await NotusClient.NotusClients[requestHash].GetDataCollection<Language>("Language");
    var topics = await NotusClient.NotusClients[requestHash].GetDataCollection<Topic>("Topic");
}

<form asp-action="@(Model.Method == "POST" ? "Create" : "Update")" asp-controller="Admin" asp-route-type="LanguageTopic" method="post">
    @if (Model.Method == "PUT")
    {
        <input type="hidden" asp-for="LanguageTopic.LanguageTopicId" />
    }
    <div class="form-group">
        <label asp-for="LanguageTopic.LanguageId">Language</label>
        <select class="form-control" asp-for="LanguageTopic.LanguageId">
            @foreach (var language in languages)
            {
                <option value="@language.LanguageId">@(language.Name)</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="LanguageTopic.TopicId">Topic</label>
        <select class="form-control" asp-for="LanguageTopic.TopicId">
            @foreach (var topic in topics)
            {
                <option value="@topic.TopicId">@(topic.Title)</option>
            }
        </select>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">@(Model.Method == "POST" ? "Add Language Topic" : "Update Language Topic")</button>
    </div>
</form>
