﻿@model AdminContentList

@{
    Layout = "_AdminLayout";
}

<h1 manage-content class="display-4">Manage Content</h1>

<div class="row mb-4">
    <div class="col-sm-6">
        <h4>Languages</h4>
        <ul class="admin-content-list-group list-group">
            @foreach (var language in Model.Languages)
            {
            <li class="list-group-item d-flex flex-row justify-content-between pt-2 pb-2 pr-1">
                <div><div class="admin-content-title">@language.Title</div></div>
                <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group" role="group" aria-label="First group">
                        <button content-type="@language.ContentType" content-id="@language.ContentId" type="button" edit-button class="edit-content btn btn-secondary"><i class="material-icons">mode_edit</i></button>
                        <button content-type="@language.ContentType" content-id="@language.ContentId" type="button" delete-button class="delete-content btn btn-secondary"><i class="material-icons">cancel</i></button>
                    </div>
                </div>
            </li>
            }
        </ul>
    </div>
    <div class="col-sm-6">
        <h4>Topics</h4>
        <ul class="admin-content-list-group list-group">
            @foreach (var topic in Model.Topics)
            {
            <li class="list-group-item d-flex flex-row justify-content-between pt-2 pb-2 pr-1">
                <div><div class="admin-content-title">@topic.Title</div></div>
                <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group" role="group" aria-label="First group">
                        <button content-type="@topic.ContentType" content-id="@topic.ContentId" type="button" edit-button class="edit-content btn btn-secondary"><i class="material-icons">mode_edit</i></button>
                        <button content-type="@topic.ContentType" content-id="@topic.ContentId" type="button" delete-button class="delete-content btn btn-secondary"><i class="material-icons">cancel</i></button>
                    </div>
                </div>
            </li>
            }
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <h4>Language Topics</h4>
        <ul class="admin-content-list-group list-group">
            @foreach (var languageTopic in Model.LanguageTopics)
            {
            <li class="list-group-item d-flex flex-row justify-content-between pt-2 pb-2 pr-1">
                <div><div class="admin-content-title">@languageTopic.Title</div></div>
                <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group" role="group" aria-label="First group">
                        <button  content-type="@languageTopic.ContentType" content-id="@languageTopic.ContentId" type="button" edit-button class="edit-content btn btn-secondary"><i class="material-icons">mode_edit</i></button>
                        <button content-type="@languageTopic.ContentType" content-id="@languageTopic.ContentId" type="button" delete-button class="delete-content btn btn-secondary"><i class="material-icons">cancel</i></button>
                    </div>
                </div>
            </li>
            }
        </ul>
    </div>
    <div class="col-sm-6">
        <h4>Snippets</h4>
        <ul class="admin-content-list-group list-group">
            @foreach (var snippet in Model.Snippets)
            {
            <li class="list-group-item d-flex flex-row justify-content-between pt-2 pb-2 pr-1">
                <div><div class="admin-content-title">@snippet.Title</div></div>
                <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group" role="group" aria-label="First group">
                        <button type="button" class="edit-content btn btn-secondary"><i class="material-icons">mode_edit</i></button>
                        <button type="button" class="delete-content btn btn-secondary"><i class="material-icons">cancel</i></button>
                    </div>
                </div>
            </li>
            }
        </ul>
    </div>
</div>
