﻿@model AdminTopicForm

@{
    Layout = "_AdminLayout";
}

<form asp-action="@(Model.Method == "POST" ? "Create" : "Update")" asp-controller="Admin" asp-route-type="Topic" method="post">
    @if (Model.Method == "PUT")
    {
        <input type="hidden" asp-for="Topic.UserId" />
    }

    @if (Model.Method == "POST")
    {
        <input type="hidden" asp-for="Topic.UserId" value="@User.Claims.FirstOrDefault(claim => claim.Type == "sub").Value" />
    }
    else
    {
        <input type="hidden" asp-for="Topic.UserId" />
    }


    <div class="form-group">
        <label asp-for="Topic.Title">Title</label>
        <input class="form-control" asp-for="Topic.Title" />
        <span asp-validation-for="Topic.Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="Topic.Description">Description</label>
        <textarea rows="10" class="form-control" asp-for="Topic.Description"></textarea>
        <span asp-validation-for="Topic.Description"></span>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">@(Model.Method == "POST" ? "Add Topic" : "Update Topic")</button>
    </div>
</form>