﻿@model Card

<div class="card card-outline-primary m-1 p-1">

    <div class="card-header">
        @Model.OptionalString1
    </div>

    <div class="card-body">

        <div class="bg-faded p-1">
            <h4 class="card-title">@Model.Content.Title.ToString()</h4>
        </div>
        <div class="card-text p-1">@Model.Content.Body.ToString()</div>

        <form asp-action="RemoveFromCollection" asp-controller="FavoriteCollection" method="post">
            <input type="hidden" name="collectionId" value="@Model.OptionalInt1" />
            <input type="hidden" name="favoriteId" value="@Model.OptionalInt2" />
            <button type="submit" class="btn btn-large p-0"
                    data-toggle="tooltip" data-placement="bottom" title="Remove">
                <i collection-favorite-remove class="app-nav-icon material-icons p-0">remove_circle_outline</i>
            </button>
        </form>

    </div>

</div>