﻿@model Card

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>@Model.Content.Title.ToString()</h4>
    </div>
    <div class="card-text p-1">@Model.Content.Body.ToString()</div>
    <div class="card-body">
        @if (User.Identity.IsAuthenticated)
        {

            @if (!Model.IsFavorited)
            {
        <form asp-action="AddToFavorites" asp-controller="Favorite" method="post">
            <input type="hidden" name="type" value="@Model.Content.ContentType" />
            <input type="hidden" name="id" value="@Model.Content.ContentId" />
            <input type="hidden" name="user" value="@User.Claims.FirstOrDefault(claim => claim.Type == "sub").Value" />
            <button type="submit" class="btn btn-large p-0"
                    data-toggle="tooltip" data-placement="bottom" title="Add">
                <i class="app-nav-icon material-icons p-0">star_rate</i>
            </button>
        </form>
            }
            else
            {
                <form asp-action="RemoveFromFavorites" asp-controller="Favorite" method="post">
                    <input type="hidden" name="type" value="@Model.Content.ContentType" />
                    <input type="hidden" name="id" value="@Model.Content.ContentId" />
                    <input type="hidden" name="user" value="@User.Claims.FirstOrDefault(claim => claim.Type == "sub").Value" />
                    <button type="submit" class="btn btn-large p-0"
                       data-toggle="tooltip" data-placement="bottom" title="Remove">
                        <i favorited class="app-nav-icon material-icons p-0">star_rate</i>
                    </button>
                </form>
            }
        }
        <a asp-action="Index" asp-controller="LanguageTopic" asp-route-id="@Model.Content.ContentId" class="card-link">View</a>
    </div>
</div>

