﻿@model Card

<div class="card card-outline-primary m-1 p-1">

    <div class="card-header">
        @Model.OptionalString1
    </div>

    <div class="card-body">

        <div class="bg-faded p-1">
            <h4 class="card-title">@Model.Content.Title.ToString()</h4>
        </div>
        <div class="card-text p-1">@Model.Content.Body.ToString()</div>

        <div class="favorite-action-toolbar btn-toolbar" role="toolbar" aria-label="@($"{Model.OptionalInt1} Action Toolbar")">
            <div class="btn-group" role="group" aria-label="@($"{Model.OptionalInt1} Action Buttons")">
                <form asp-action="RemoveFromFavorites" asp-controller="Favorite" method="post">
                    <input type="hidden" name="type" value="@Model.Content.ContentType" />
                    <input type="hidden" name="id" value="@Model.Content.ContentId" />
                    <input type="hidden" name="user" value="@User.Claims.FirstOrDefault(claim => claim.Type == "sub").Value" />
                    <button type="submit" class="btn btn-large p-0"
                            data-toggle="tooltip" data-placement="bottom" title="Remove">
                        <i favorited class="app-nav-icon material-icons p-0">star_rate</i>
                    </button>
                </form>
                <button type="button" action="add-favorite-to-collection" data-toggle="tooltip" data-placement="bottom" title="Add To Collection"
                        favorite-id="@Model.OptionalInt1" class="favorite-add-icon btn btn-sm"><i class="material-icons">add_circle_outline</i></button>
            </div>
        </div>

            </div>

        </div>
