﻿body {
    font-family: Rockwell;
    font-size: 1.1rem;
    text-align: center;
    background-color: #fffdef;
}

.table {
    background-color: aliceblue;
    overflow-x: scroll;
}

.bg-info {
    background-color: #4a767c !important;
}

.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

thead {
    color: white;
}

.add-cd-button {
    color: red;
}
