﻿@model IUserService

<div class="jumbotron">
    <h1 class="display-4">Welcome Back, @Model.GetEmail()</h1>
    <hr class="my-4">
    <p>Looks like you're ready to get back to browsing with you're favorite application!</p>
    <p class="lead">
        <a asp-controller="Topics" class="btn btn-success btn-lg" role="button">Browse</a>
    </p>
</div>

