﻿@{
    ViewBag.Title = "Cart";
    ViewBag.Header = "Your Cart";
}

<dialog class="cart-dialog mdl-dialog">
    <div class="mdl-dialog__content">
        <p id="dialog-text"></p>
    </div>
    <div class="mdl-dialog__actions">
        <form asp-action="Cart" asp-route-id="" method="post">
            <button type="submit" class="mdl-button">Yes</button>
        </form>
        <button type="button" class="mdl-button close">No</button>
    </div>
</dialog>

<div class="cart-column mdl-cell mdl-cell--8-col mdl-cell--2-offset">
    <div class="product-cart-list mdl-list">
        @foreach (Product p in Profile.Cart)
        {
            <div class="product-cart-list-item mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <img class="product-list-image mdl-chip__contact" src="@p.Image"></img>
                    <span class="product-list-name">@p.Name</span>
                </span>
                <span class="mdl-list__item-secondary-content">
                    <a class="mdl-list__item-secondary-action" data-name="@p.Name" data-value="@p.ProductId"><i class="material-icons">cancel</i></a>
                </span>
            </div>
        }
    </div>
</div>

<script>
    const dialog        = document.querySelector('dialog')
    const dialogForm    = document.querySelector('form')
    const deleteButtons = document.querySelectorAll('.mdl-list__item-secondary-action')
    const dialogText    = document.getElementById('dialog-text')

    const route = dialogForm.getAttribute('action')
    var modalActive = false

    function updateDeleteId(id) {
        dialogForm.setAttribute('action', `${route}/${id}`)
    }

    function updateDeleteName(name) {
        dialogText.innerHTML = `Are you sure you want to remove the ${name} from your cart?`
    }

    for (let i = 0; i < deleteButtons.length; i++) {
        deleteButtons[i].addEventListener('click', () => { 
            if (!modalActive) {
                updateDeleteId(deleteButtons[i].getAttribute('data-value'))
                updateDeleteName(deleteButtons[i].getAttribute('data-name'))
                modalActive = true
                dialog.showModal()
            }
        })
    }

    if (!dialog.showModal) {
        dialogPolyfill.registerDialog(dialog)
    }

    dialog.querySelector('.close').addEventListener('click', () => {
        modalActive = false
        dialog.close()
    })
</script>
