﻿@{
    ViewBag.Title = "Home";
    ViewBag.Header = $"Welcome Back {Profile.Username}!";
}

<style>
    #index-content-1 {
        background-image: url("@Inventory.FindFirst(p => p.Name == "Hat").Image");
        background-repeat: no-repeat;
        background-size:cover;
    }
    #index-content-2 {
        background-image: url("@Inventory.FindFirst(p => p.Name == "Jacket").Image");
        background-repeat: no-repeat;
        background-size:cover;
    }
</style>


<div class="mdl-grid">

    <div class="home-cover mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
        <div class="index-cover-photo"></div>
    </div>

    <div id="index-content-1" class="home-content mdl-cell mdl-cell--8-col">
        <p></p>
    </div>

    <div id="index-content-2" class="home-content mdl-cell mdl-cell--4-col">
        <p></p>
    </div>

</div>
