﻿@model IEnumerable<Product>

@{
    ViewBag.Title = "Products";
    ViewBag.Header = "Products";
}

@foreach (Product p in Model)
{
<style>
        #product-item-@p.ProductId {
            background: url("@p.Image") center / cover;
        }
</style>
}

<ul class="product-list mdl-list">
    @foreach (Product p in Model)
    {
    <li class="product-list-item mdl-list__item">
        <a class="mdl-navigation__link" asp-action="Product" asp-route-id="@p.ProductId">
            <div id="product-item-@p.ProductId" class="demo-card-image mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="product-list-item-actions mdl-card__actions">
                    <span class="product-list-item-actions-text">@p.Name</span>
                </div>
            </div>
        </a>
    </li>
    }
</ul>
