﻿@model Product

@{
    ViewBag.Title = Model.Name;
    ViewBag.Header = Model.Description;
}

<style>
    .product-card > .mdl-card__title {
        color: #fff;
        background: url("@Model.Image") bottom right 15% no-repeat #46B6AC;
        background-repeat: no-repeat;
        background-size:cover;
    }
</style>

@if (ViewBag.Error != null)
{
    <dialog class="mdl-dialog">
        <h4 class="mdl-dialog__title">Product Not Added</h4>
        <div class="mdl-dialog__content">
            <p>
                @ViewBag.Error
            </p>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button close">Ok</button>
        </div>
    </dialog>

    <script>
        const dialog = document.querySelector('dialog')
        if (! dialog.showModal) {
          dialogPolyfill.registerDialog(dialog)
        }
        dialog.querySelector('.close').addEventListener('click', function() {
          dialog.close()
        })

        dialog.showModal()
    </script>
}

    <div class="product-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
            <h2 class="product-card-header mdl-card__title-text">@Model.Name</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <p>@Model.Description</p>
            <span class="mdl-chip mdl-chip--contact">
                <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">$</span>
                <span class="mdl-chip__text">@Model.Price</span>
            </span>
        </div>
        @if (!Profile.ProductInCart(Model))
        {
        <div class="mdl-card__actions mdl-card--border">
            <form asp-action="Product" asp-route-id="@Model.ProductId" method="post">
                @Html.HiddenFor(val => Model.Name)
                @Html.HiddenFor(val => Model.Description)
                @Html.HiddenFor(val => Model.Image)
                @Html.HiddenFor(val => Model.Price)
                @Html.HiddenFor(val => Model.ProductId)
                <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Add To Cart
                </button>
            </form>
        </div>
        }
        else
        {
        <div class="mdl-card__actions mdl-card--border">
            <a asp-action="Cart" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                View In Cart
            </a>
        </div>
        }
    </div>