﻿@model ProfileData

@{
    ViewBag.Title = "Sign Up";
    ViewBag.Header = "Please Create an Account";
}

<form asp-action="Signup" method="post">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Please Enter a Username</h2>
        </div>
        <div class="mdl-card__supporting-text">

            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" asp-for="Username">
                <label class="mdl-textfield__label" asp-for="Username">Username...</label>
            </div>
            <span asp-validation-for="Username"></span>

        </div>
        <div class="mdl-card__actions mdl-card--border">
            <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Submit
            </button>
        </div>
    </div>
</form>
