﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Synomy">
    <meta name="author" content="William McCullough">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <link rel="stylesheet" asp-href-include="/styles/min.min.css" />
    <script asp-src-include="/js/main.bundle.js"></script>
</head>

<body>

    @{
        IgnoreBody();
    }

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="display-4">
                <div class="jumbo-icon-container">
                    <i class="jumbo-icon material-icons">chevron_left</i><span>SYNOMY</span><i class="jumbo-icon material-icons">chevron_right</i>
                 </div>
            </div>
            <p class="lead">A free and intuitive way to manage your notes</p>
            <hr class="my-4">
            <p>
                Synomy is a part of the Okami Services ecosystem. Please create an account if you 
                would like to join our community, or feel free to browse without one.
            </p>
            <p class="lead">
                <a asp-controller="User" class="btn btn-primary btn-lg" role="button">Sign In</a>
                or
                <a disabled class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
            </p>
            <p class="lead">   
                <a asp-controller="Topics" class="btn btn-success btn-lg" role="button">Browse</a>
            </p>
        </div>
    </div>

</body>

</html>

