﻿@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Synomy">
    <meta name="author" content="William McCullough">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <link rel="stylesheet" asp-href-include="/styles/min.min.css" />
    <script asp-src-include="/js/main.bundle.js"></script>
</head>

<body>
    <div class="wrapper">

        @await Component.InvokeAsync("NavigationBar")

        @await Component.InvokeAsync("Sidebar")

        <div id="content">
            <div class="container-fluid">
                <div class="row m-1 p-1">
                    <div id="categories" class="nav-menu col-3">
                        <div class="list-group">
                            @await Component.InvokeAsync("NavigationMenu")
                        </div>
                    </div>

                    <div class="render-body cold-xs-12 col-lg-9">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>
