﻿@model LanguageListViewModel

@foreach (var language in Model.List)
{
<style>
#language-@language.Content.ContentId > img {
    max-height: 200px;
    min-height: 200px;
    max-width: 200px;
    min-width: 200px;
    margin: 0 auto;
}
#language-@language.Content.ContentId {
    box-shadow: 0px 0px 6px @language.Color;
}
</style>
}

<!-- LANGUAGE LIST -->
@foreach (var language in Model.List)
{
<div id="language-@language.Content.ContentId" class="card mb-2">
    <div class="language-action-toolbar btn-toolbar" role="toolbar" aria-label="@($"{language.Content.Title} Action Toolbar")">
        <div class="btn-group" role="group" aria-label="@($"{language.Content.Title} Action Buttons")">
             @if(User.Identity.IsAuthenticated)
             {
                @if (!language.IsFavorited)
                {
                <form asp-action="AddToFavorites" asp-controller="Favorite" method="post">
                    <input type="hidden" name="type" value="@language.Content.ContentType" />
                    <input type="hidden" name="id" value="@language.Content.ContentId"/>
                    <input type="hidden" name="user" value="@User.Claims.FirstOrDefault(claim => claim.Type == "sub").Value" />
                    <button type="submit" class="btn btn-large p-0"
                        data-toggle="tooltip" data-placement="bottom" title="Add">
                        <i class="app-nav-icon material-icons p-0">star_rate</i>
                    </button>
                </form>
                }
                else
                {
                <form asp-action="RemoveFromFavorites" asp-controller="Favorite" method="post">
                    <input type="hidden" name="type" value="@language.Content.ContentType" />
                    <input type="hidden" name="id" value="@language.Content.ContentId" />
                    <input type="hidden" name="user" value="@User.Claims.FirstOrDefault(claim => claim.Type == "sub").Value" />
                    <button type="submit" class="btn btn-large p-0"
                        data-toggle="tooltip" data-placement="bottom" title="Remove">
                        <i favorited class="app-nav-icon material-icons p-0">star_rate</i>
                    </button>
                </form>
                }
                <button type="button" action="edit" language="@language.Content.ContentId" class="language-edit-icon btn btn-sm"><i class="material-icons">create</i></button>
                <button type="button" action="delete" language="@language.Content.ContentId" class="btn btn-danger btn-sm"><i class="material-icons">cancel</i></button>
             }
        </div>
    </div>
    <img class="card-img-top mt-2" src="@language.Icon" alt="@($"{language.Content.Title} Picture From: {language.Icon}")">
    <div class="card-body">
        <h5 class="card-title">@language.Content.Title</h5>
        <p class="card-text">@language.Content.Body</p>
    </div>
</div>
}


<!-- DELETE MODAL -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
