﻿<nav class="navbar navbar-inverse navbar-expand-lg bg-inverse fixed-top" role="navigation">

    <div class="app-sidebar-collapse">
        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
            <i class="glyphicon glyphicon-align-left"></i>
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
    </div>

    <div class="app-title">
        <a class="navbar-brand" href="/Topics/Toggle">
            <i class="material-icons">chevron_left</i><span>SYNOMY</span><i class="material-icons">chevron_right</i>
        </a>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
    <div class="app-logout-section">
        @if (User.Claims.AsQueryable().Single(claim => claim.Type == "notus-role" && claim.Value == "Admin") != null)
        {
        <a asp-action="ManageContent" asp-controller="Admin" type="button" class="btn btn-info app-logout-button">
            <i class="glyphicon glyphicon-align-left"></i>
            <i class="material-icons">security</i>
        </a>
        }

        <a asp-action="Logout" asp-controller="User" type="button" class="btn btn-info app-logout-button">
            <i class="glyphicon glyphicon-align-left"></i>
            <i class="material-icons">power_settings_new</i>
        </a>
    </div>
    }

</nav>