﻿<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/material-design-lite/material.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/dialog-polyfill/dialog-polyfill.css" />
    <script src="~/lib/material-design-lite/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/styles/style.css" />
    <script src="~/lib/dialog-polyfill/dialog-polyfill.js"></script>
</head>

<body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">

                <!-- Header Title -->
                <span class="arctic-font mdl-layout-title">
                    <a class="header-title" asp-action="Index">Arctic Inventory</a>@if (@ViewBag.Header != "")
                {<span>@($" - {ViewBag.Header}")</span>}
                </span>

                <div class="mdl-layout-spacer"></div>

                <!-- Header Navigation -->
                <nav class="arctic-font mdl-navigation mdl-layout--large-screen-only">
                    <a class="header-nav-link mdl-navigation__link" asp-action="Products"><i class="material-icons">local_offer</i> Products</a>
                    <a class="header-nav-link mdl-navigation__link" asp-action="Cart"><i class="material-icons">shopping_cart</i> Cart @if(Profile.CartCount > 0){<span class="mdl-badge" data-badge="@Profile.CartCount"></span>}</a>
                </nav>
            </div>
        </header>



        @if (Profile.HasProfile)
        {
        <!-- Sidebar Navigation Drawer -->
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Browse Products</span>
            <nav class="mdl-navigation">
                @foreach (Product p in Inventory.Products)
                {
                <a class="mdl-navigation__link" asp-action="Product" asp-route-id="@p.ProductId">@p.Name</a>
                }
            </nav>
        </div>
        }


        <!-- Content -->
        <main class="mdl-layout__content">
            <div class="page-content">@RenderBody()</div>
        </main>


        <!-- Footer -->
        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">Copyleft <span class="copyleft">&copy;</span> Zahfox 2018</div>
                <ul class="mdl-mini-footer__link-list">
                    
                </ul>
            </div>
        </footer>

    </div>

</body>

</html>
