﻿@model IEnumerable<FilterSection<string>>

<ul class="list-group">
    @foreach (FilterSection<string> section in Model)
    {
        <li class="list-group-item">
            <a class="btn btn-light blue-text btn-block @(section.WildCard == ViewBag.SelectedSection ? "btn-primary" : "btn-secondary")"
               asp-action="@(section.Action)"
               asp-controller="@(section.Controller)"
               asp-route-id="@(section.WildCardInt)">
                <h5>@(section.Title)</h5>
            </a>
        </li>
    }
</ul>

