﻿@model IEnumerable<FilterSection<string>>

<ul class="list-group">
    @foreach (FilterSection<string> section in Model)
    {
        <li class="list-group-item">
            <a class="btn btn-light blue-text btn-block @(section.WildCard == ViewBag.SelectedSection ? "btn-primary" : "btn-secondary")"
                asp-action="@(section.Action)"
                asp-route-type="@(section.WildCard)"
                asp-controller="@(section.Controller)">
                <h5>@(section.Title)</h5>
            </a>
        </li>
    }
</ul>

