﻿@model IEnumerable<FilterSection<string>>

<div class="row m-1 p-1">
    <div class="col-4 p-0 text-center">
        <a class="btn btn-large p-0"
           asp-action="List"
           asp-controller="Favorite"
           data-toggle="tooltip" data-placement="top" title="Favorites"
           >
            <i class="app-nav-icon material-icons p-0 large-icon">star_rate</i>
        </a>
    </div>
    <div class="col-4 p-0 text-center">
        <a class="btn btn-large text-center p-0"
           asp-action="Title"
           asp-controller="Topics"
           asp-route-filter="All"
           asp-route-topicPage="1"
           data-toggle="tooltip" data-placement="top" title="Browse">
            <i class="fas fa-2x fa-search"></i>
        </a>
    </div>
    <div class="col-4 p-0 text-center">
        <a class="btn btn-large text-center p-0"
           asp-action="Index"
           asp-controller="Language"
           data-toggle="tooltip" data-placement="top" title="Languages">
            <i class="app-nav-icon fas fa-language fa-2x"></i>
        </a>
    </div>
</div>

<div id="nav-accordion">
    @foreach (FilterSection<string> section in Model)
    {

        <div class="card">
            <button class="btn btn-link filter-section-header" data-toggle="collapse" data-target="#collapse@(section.Action)" aria-expanded="true" aria-controls="collapse@(section.Action)">

                <div class="card-header" id="heading@(section.Action)">
                    <h5 class="mb-0">
                        @(section.Title)

                    </h5>
                </div>
            </button>

            <div id="collapse@(section.Action)" class="collapse" aria-labelledby="heading@(section.Action)" data-parent="#nav-accordion">
                <div class="card-body">
                    @foreach (string filter in section.Filters)
                    {
                        <div class="list-group-item">
                            <a class="btn btn-block
                       @(filter == ViewBag.SelectedFilter ? "btn-primary" : "btn-secondary")"
                               asp-action="@(section.Action)"
                               asp-controller="@(section.Controller)"
                               asp-route-filter="@filter"
                               asp-route-topicPage="1">
                                @filter
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>