﻿@model IEnumerable<FilterSection<NavLink>>

<div class="row m-1 p-1">
    <div class="col-4 p-0 text-center">
        <a class="btn btn-large p-0"
           asp-action="List"
           asp-controller="Favorite"
           data-toggle="tooltip" data-placement="top" title="Favorites">
            <i class="app-nav-icon material-icons p-0 large-icon">star_rate</i>
        </a>
    </div>
    <div class="col-4 p-0 text-center">
        <a class="btn btn-large text-center p-0"
           asp-action="Title"
           asp-controller="Topics"
           asp-route-filter="All"
           asp-route-topicPage="1"
           data-toggle="tooltip" data-placement="top" title="Browse">
            <i class="fas fa-2x fa-search"></i>
        </a>
    </div>
    <div class="col-4 p-0 text-center">
        <a class="btn btn-large text-center p-0"
           asp-action="Browse"
           asp-controller="Content"
           data-toggle="tooltip" data-placement="top" title="Create">
            <i class="app-nav-icon material-icons p-0 nav-icon">create</i>
        </a>
    </div>
</div>

@{ var firstItem = Model.First();}

<div id="nav-accordion">

    <div class="card">
        <a asp-controller="FavoriteCollection" asp-action="Create" class="btn btn-link filter-section-header" aria-expanded="true">
            <div class="card-header" id="heading@(firstItem.Action)">
                <h5 class="mb-0">
                    @(firstItem.Title)
                </h5>
            </div>
        </a>
    </div>

    @foreach (FilterSection<NavLink> section in Model.Skip(1))
    {

        <div class="card">
            <button class="btn btn-link filter-section-header" data-toggle="collapse" data-target="#collapse@(section.Action)" aria-expanded="true" aria-controls="collapse@(section.Action)">

                <div class="card-header" id="heading@(section.Action)">
                    <h5 class="mb-0">
                        @(section.Title)

                    </h5>
                </div>
            </button>

            <div id="collapse@(section.Action)" class="collapse" aria-labelledby="heading@(section.Action)" data-parent="#nav-accordion">
                <div class="card-body">
                    @foreach (NavLink filter in section.Filters)
                    {
                        <div class="list-group-item">
                            <a class="btn btn-block
                       @(filter == ViewBag.SelectedFilter ? "btn-primary" : "btn-secondary")"
                               asp-action="List"
                               asp-controller="FavoriteCollection"
                               asp-route-id="@filter.Id">
                                @($"{filter.Text}")
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

