﻿@font-face {
    font-family: Arctic;
    src: url(../fonts/Arctic.otf);
}

.arctic-font {
    font-family: Arctic;
}

.cart-column {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #B0BEC5 !important;
}

.cart-dialog {
    top: 0;
}

.copyleft {
    display: inline-block;
    transform: rotate(180deg);
}

.field-validation-error {
    color: orangered !important;
}

.header-title, .header-title:visited, .header-title:hover, .header-title:active {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.header-nav-link:hover {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #90b1e5;
}

.home-content {
    height: 600px !important;
}

.mdl-cell {
    box-sizing: border-box;
    background-color: #BDBDBD;
    height: 12rem;
}

.mdl-card__supporting-text > p {
    font-size: 1.4em;
    font-weight: 500;
}

.page-content, .cart-column {
    height: 100%;
}

.product-cart-list {
    max-width: 1000px;
    max-height: 600px;
    margin: auto;
    background-color: white;
    border: 5px inset #B2EBF2;
}

.product-cart-list-item {
    background-color: #E0F7FA;
    margin-top: .7em;
}

.product-list-image {
    border: 2px solid #006064;
}

.product-list-item-actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

.product-list-item-actions-text {
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
}

.product-list-name {
    color: #263238;
}

.product-card-header {
    background-color: rgba(0, 0, 0, .3);
    padding: .4em;
    border-radius: 3px;
}

.product-card.mdl-card {
    width: 580px;
    height: 580px;
    margin: auto;
}

.product-list {
    flex-direction: row;
    align-items: center;
    align-content: center;
    text-align: center;
}

.product-list > li {
    display: inline-flex;
}

.index-cover-photo {
    background: url("../images/winter_5-wallpaper-2560x1080-min.jpg") no-repeat 100% 20%;
    width: 100%;
    height: 100%;
}



@media screen and (min-width: 800px) {
    .home-cover {
        height: 20rem;
    }
}