﻿@model LanguageTopicDetails

<div class="card">
    <div class="card-body">
        <h3 class="card-title">@($"{Model.LanguageTopic.Language.Name}: {Model.LanguageTopic.Topic.Title}")</h3>
        <p class="card-text">@Model.LanguageTopic.Topic.Description</p>
        <p class="card-text">Created By: @User.Claims.ToList().Find(claim => claim.Type == "email").Value</p>
        <h4 class="card-title">Snippets</h4>
    </div>
    <div class="list-group list-group-flush">
        @if (Model.Snippets.Any())
        {
        @foreach (var snippet in Model.Snippets)
            {
                <div class="list-group-item">
                    <p>@snippet.Title</p>
                    <p>@snippet.Created</p>
                    <p>@snippet.Text</p>
                </div>
            }
        }
        else
        {
           <div class="list-group-item">
               <p>There are no snippets for this topic</p>
           </div>
        }

    </div>
    <div class="card-body">
        <a href="#" class="card-link">Add New Snippet</a>
    </div>
</div>

