﻿@model IEnumerable<Synomy.Components.Action.Action>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        @foreach (var action in Model)
        {
            @await Component.InvokeAsync("Action", action);
        }
    </div>
</div>