﻿@model  NavMenu

<nav id="sidebar">
    <div class="container-fluid no-padding">

        <div class="sidebar-header">
            <h3>_</h3>
        </div>

        <div class="row m-1 p-1">
            <div class="col-4 p-0 text-center">
                <a class="btn btn-large p-0"
                   asp-action="List"
                   asp-controller="Favorite"
                   data-toggle="tooltip" data-placement="top" title="Favorites">
                    <i class="sidebar-nav-icon material-icons p-0 large-icon">star_rate</i>
                </a>
            </div>
            <div class="col-4 p-0 text-center">
                <a class="btn btn-large text-center p-0"
                   asp-action="Title"
                   asp-controller="Topics"
                   asp-route-filter="All"
                   asp-route-topicPage="1"
                   data-toggle="tooltip" data-placement="top" title="Browse">
                    <i class="sidebar-nav-icon fas fa-2x fa-search"></i>
                </a>
            </div>
            <div class="col-4 p-0 text-center">
                <a class="btn btn-large text-center p-0"
                   asp-action="Index"
                   asp-controller="Language"
                   data-toggle="tooltip" data-placement="top" title="Languages">
                    <i class="sidebar-nav-icon fas fa-language fa-2x"></i>
                </a>
            </div>
        </div>

        <div id="sidebar-accordion">
            @foreach (var section in Model.Sections)
            {
             <div class="card">
                <div class="card-header" id=@($"nav-section-header-{section.Label}")>
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target=@($"#nav-section-{section.Label}") aria-expanded="true" aria-controls=@($"nav-section-{section.Label}")>
                            @(section.Title)
                        </button>
                    </h5>
                </div>

                <div id=@($"nav-section-{section.Label}") class="collapse" aria-labelledby=@($"nav-section-header-{section.Label}") data-parent="#sidebar-accordion">
                    <div class="card-body">
                        @foreach (var item in section.Items)
                        {
                         <div class="list-group-item">
                            <a class="btn btn-block"
                               asp-action="@(item.Action)"
                               asp-controller="@(item.Controller)"
                               asp-route-filter="@(item.RouteValues["filter"])"
                               asp-route-topicPage="1">
                                @(item.Text)
                            </a>
                        </div>
                        }
                    </div>
                </div>
            </div>
            }
        </div>

    </div>
</nav>

<div curtain></div>

