﻿@model CardListViewModel<Card>

@if (Model.Data.Count() > 0)
{
    @foreach (var Card in Model.Data)
    {
        @(await Component.InvokeAsync("Card", Card));
    }
}
else
{
    <div class="alert alert-secondary" role="alert">
        @($"No topics were found with \"{Model.FilterValue}\" for a {Model.FilterType}")
    </div>
}

<div page-model="@Model.PagingInfo" page-action="@Model.FilterType" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary" page-class-selected="btn-primary"
     page-url-filter="@Model.FilterValue" class="btn-group pull-right m-1">
</div>

