﻿@model Tuple<IEnumerable<CD>, IEnumerable<Product>>

@{
    ViewBag.Title = "My Inventory";
    ViewBag.Header = "My Personal Inventory";
}

<div class="text-left mb-lg-5">
    <a class="btn btn-md btn-primary" asp-action="NewCD">Add a CD</a>
    <a class="btn btn-md btn-primary" asp-action="AddProduct">Add a Product</a>
</div>

@if (Model != null && Model.Item1 != null && Model.Item1.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr class="bg-info">
                <th>Bank</th>
                <th>Term(Months)</th>
                <th>Rate</th>
                <th>Purchase Date</th>
                <th>Maturity Date</th>
                <th>Deposit Amount</th>
                <th>Value at Maturity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CD c in Model.Item1)
            {
                <tr>
                    <th scope="row">@c.getBankString()</th>
                    <td>@c.Months</td>
                    <td>@($"{c.Rate}%")</td>
                    <td>@c.PurchaseDate.Value.ToShortDateString()</td>
                    <td>@c.getMaturityDate().ToShortDateString()</td>
                    <td>@($"{c.DepositAmount:C2}")</td>
                    <td>@($"{c.getMaturityValue():C2}")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>No CDs are currently in your inventory.</h3>
}


@if (Model != null && Model.Item2 != null && Model.Item2.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr class="bg-info">
                <th>Product ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product p in Model.Item2)
            {
                <tr>
                    <th scope="row">@p.ProductId</th>
                    <td>@p.Name</td>
                    <td>@($"{p.Price:C2}")</td>
                    <td>@p.Description</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>No Products are currently in your inventory.</h3>
}