﻿@model CD

@{
    ViewBag.Title  = "Add a CD";
    ViewBag.Header = "Add a CD";
}


<form asp-action="NewCD" method="post">
    <div class="form-group">
        <label asp-for="Bank">Bank</label>
        <select class="form-control" asp-for="Bank">
            @foreach (CD.Banks b in Enum.GetValues(typeof(CD.Banks)))
            {
                <option value="@b">@(CD.getBankString(@b))</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Months">Term (Months)</label>
        <input class="form-control" asp-for="Months" />
        <span asp-validation-for="Months"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rate">Rate(%)</label>
        <input class="form-control" asp-for="Rate" />
        <span asp-validation-for="Rate"></span>
    </div>
    <div class="form-group">
        <label asp-for="DepositAmount">Deposit Amount</label>
        <input class="form-control" asp-for="DepositAmount" />
        <span asp-validation-for="DepositAmount"></span>
    </div>
    <div class="form-group">
        <label asp-for="PurchaseDate">Purchase Date</label>
        <input class="form-control" asp-for="PurchaseDate" />
        <span asp-validation-for="PurchaseDate"></span>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Add CD</button>
    </div>
</form>
