﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>

    <style>
        .page-header {
            width: 100%;
            background-color: antiquewhite;
            color: darkslateblue;
            padding-top: 1rem;
            border-radius: .2rem;
        }

        thead {
            color: floralwhite;
        }
    </style>


    <div class="text-center mt-md-3 container-fluid">
        <div class="page-header">
            <div class="col-12">
                <h1 class="mb-lg-5">@ViewBag.Header</h1>
            </div>
        </div>
        <div class="page-body">
            <div class="col-12">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/lib/jQuery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>
