﻿@model IEnumerable<RoleEditModel>

<div class="bg-primary m-1 p-1"><h4>Roles</h4></div>
<div class="text-danger" asp-validation-summary="ModelOnly"></div>
<table class="table table-sm table-bordered table-bordered">
    <tr><th>Name</th><th>ID</th><th>Users</th><th>Actions</th></tr>
    @if (Model.Count() == 0)
    {
        <tr><td colspan="4" class="text-center">No Roles</td></tr>
    }
    else
    {
        foreach (var role in Model)
        {
        <tr>
            <td>@role.Role.Name</td>
            <td>@role.Role.Id</td>
            <td identity-role="@role.Role.Id">
                @if (role.Members.Count() <= 0)
                {
                    <span class="text-center">No Users</span>
                }
                else
                {
                    @foreach (var user in role.Members)
                    {
                        <span class="text-center">@($"{user.UserName} ")</span>
                    }
                }
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Role.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit"
                       asp-route-id="@role.Role.Id">Edit</a>
                    <button type="submit"
                            class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        }
    }
</table>
<a class="btn btn-primary" asp-action="Create">Create</a>