﻿<nav class="navbar navbar-inverse navbar-expand-lg bg-inverse fixed-top" role="navigation">
    <div class="d-flex flex-row align-items-center w-100">

        <div>
            <span class="navbar-brand mb-0 h1">
                <a asp-controller="Topics">
                    <i class="material-icons large-icon">home</i>
                </a>
            </span>
        </div>

        <div admin-actions>
            @await Component.InvokeAsync("ActionBar", ActionProvider.GetAdminActions())
        </div>

        <div admin-status>
            @if (TempData["Status"] != null && TempData["Message"] != null)
            {
            <div class="alert fade show @( TempData["Status"].ToString() == "Success" ? "alert-primary" : "alert-danger" )" data-dismiss="alert" role="alert">
                @TempData["Message"]
            </div>
            }
        </div>

    </div>
</nav>
