﻿@model IEnumerable<CD>

@{
    ViewBag.Title  = "My Portfolio";
    ViewBag.Header = "My CD Portfolio";
}

<div class="text-left mb-lg-5">
    <a class="btn btn-md btn-primary" asp-action="NewCD">Add a CD</a>
</div>

@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr class="bg-info">
                <th>Bank</th>
                <th>Term(Months)</th>
                <th>Rate</th>
                <th>Purchase Date</th>
                <th>Maturity Date</th>
                <th>Deposit Amount</th>
                <th>Value at Maturity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CD c in Model)
            {
                <tr>
                    <th scope="row">@c.getBankString()</th>
                    <td>@c.Months</td>
                    <td>@($"{c.Rate}%")</td>
                    <td>@c.PurchaseDate.Value.ToShortDateString()</td>
                    <td>@c.getMaturityDate().ToShortDateString()</td>
                    <td>@($"{c.DepositAmount:C2}")</td>
                    <td>@($"{c.getMaturityValue():C2}")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>No CDs are currently in your portfolio.</h3>
}

