﻿<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="display-4">
            <div class="jumbo-icon-container">
                <i class="jumbo-icon material-icons">chevron_left</i><span>SYNOMY</span><i class="jumbo-icon material-icons">chevron_right</i>
            </div>
        </div>
        <p class="lead">A free and intuitive way to manage your notes</p>
        <hr class="my-4">
        <p>
            Synomy is a part of the Okami Services ecosystem. Please create an account if you
            would like to join our community, or feel free to browse without one.
        </p>
        <p class="lead">
            <a asp-controller="User" asp-action="Login" class="btn btn-primary btn-lg" role="button">Sign In</a>
            or
            <a hidden class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
        </p>
        <p class="lead">
            <a asp-controller="Topics" class="btn btn-success btn-lg" role="button">Browse</a>
        </p>
    </div>
</div>